/*  your css code here. If applicable */
html{
	background-color: grey;
}

td.middle{
	width:600px;
}

.imageContainer {
      text-align: center; /* Center-align the image within the div */
    }
    table {
      width: 1000px; /* Total width of the table */
      border-collapse: collapse; /* Collapses the border */
    }
    td {
      border: 1px solid #000; /* Black border for all cells */
      vertical-align: top; /* Align the content to the top of the cell */
    }

		
	td:first-child,
    td:last-child {
      width: 200px; /* Width for the first and last columns */
    }
    td:nth-child(2) {
      width: 600px; /* Width for the middle column */
    }
    img {
      width: 100%; /* Make image responsive within the cell */
      height: auto; /* Maintain aspect ratio */
    }